logs/*
!logs/.gitkeep

embeddings/*
!embeddings/.gitkeep

segmentations/*
!segmentations/.gitkeep

autosave/*
!autosave/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

raw_data/*
segmented_volumes/*
datasets/*
finetuning_runs/*

sam_variants/*
!sam_variants/.gitkeep

.pixi/
.ci/
.venv/
venv/

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
