*__pycache__/
.vscode/
.vs
samm-workspace/
**.pth
*.ipynb_checkpoints/

# Python cache
*.pyc
**/__pycache__/
.cache/
.pytest_cache/

# Other SAM
MobileSAM/**
MedSAM/

# checkpoint 
checkpoint/

FLARE22Train/
npy/

# Data
ISBI**






